.person {
  padding: 1.75rem;
  margin: .5rem;
  border-radius: 4px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  color: white;
}

.person--male {
  background: #44bccc;
}

.person--female {
  background: #f973bc;
}

.person__name {
  margin-top: 0;
  font-weight: 900;
  margin-bottom: .75rem;
}

.person__description {
  margin: 0;
  line-height: 1.5;
}

.person__description strong {
  font-weight: 900;
}

body {
  margin: 0;
  font-family: -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Helvetica,
    Arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol";
}
