@keyframes morph {
  0% {
    border-radius: 5px;
  }
  50% {
    border-radius: 50%;
  }
  100% {
    border-radius: 5px;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
